<div class="row">
    <h1><ul>Burgers for Humans to eat using Mouse Resturaunt</ul></h1>
    <h3>Time to eat some burgers!</h3>
    <img src="/assets/img/burger.jpg" alt="burger" class="main-image">
    <h2>Add a new Burger to your list!</h2>
    <form action="/burgers/create" method="POST">
        <input type="text" name="burgerName" placeholder="Enter burger name here">
        <button class="burger-button" type="submit">Submit</button>
    </form>
</div>
<div class="row">
    <div class="container-left">
        <h2 class="container-heading">Menu</h2>
        {{#each burgers}} 
            {{#unless this.eaten}}
                {{> burgers/burger}}
            {{/unless}}
        {{/each}}
    </div>
    <div class="container-right">
        <h2 class="container-heading">Consumed</h2>
        {{#each burgers}}
            {{#if this.eaten}}
                {{> burgers/burger}}
            {{/if}}
        {{/each}}
    </div>
</div>